<footer>
    <div class="footerElement">
        <a href="/">Génération de FRITEs</a>
    </div>
    <div class="footerElement">
        <a href="/about">Fait avec ❤️ par FrostyPinkPlume</a>
    </div>
    
</footer>