<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="pinkBody">
        <div class="blue-ribbon ribbon top-left-hand-corner-ribbon">Maintenant en BETA</div>
        <div class="dark-ribbon ribbon top-right-hand-corner-ribbon"><a href="https://github.com/FrostyPinkPlume/FRITE"><img src="/assets/images/github-mark-white.svg" alt="GitHub" class="imageAsCaracter">Parcourez sur Github</a></div>
        <div class="indexCentered">
            <h1 style="font-size: 3em;">Générateur de fiche FRITE</h1>
            <form class="sendHouatForm" method="post" action="/analyse" enctype="multipart/form-data">
                <div>
                    <label for="HOUAT">Sélectionnez une fiche HOUAT :</label>
                    <input type="file" id="inputHouat" name="houat" accept=".pdf" required/>
                </div>
                <div>
                    <span class="prevent"><br /><a href="/about">En validant ce formulaire, vous acceptez la clause de non-responsabilité disponible en cliquant sur cette ligne.</a><br /></span>
                </div>
                <div>
                    <input type="submit" value="Envoyer" />
                </div>
            </form>
        </div>
        <%- include('../partials/foot'); %>
    </body>
</html>