/*Si vous atterissez dans cet enfer, je n'ai qu'une chose à dire : bonne chance*/

@font-face {
    font-family: 'Aldrich';
    src: url(/assets/fonts/Aldrich-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Merienda';
    src: url(/assets/fonts/Merienda/Merienda-VariableFont_wght.ttf) format('truetype');
}

:root {
    --main-color: #FAB4BC;
    --lighter-main: #ffe6f2;
    --darker-main: #694C4F;
    --even-darker-main: #0d0d0d;
    --secondary-color: #FAE9B4;
    --tertiary-color: #CDA4DE;
    --darker-tertiary: #9B6AB3;
    --lighter-tertiary: #D9B2E8;
    --text-light: #000000;
    --text-dark: #ffffff;
    --text-primary-light: #FFD5E1;
    --text-primary-darker: #4D4044;


    --even-lines-background-color: var(--lighter-main);
}

.dark {
    --even-lines-background-color: var(--darker-main);
}

body {
    min-height: 100vh;
    font-family: 'Merienda';
    width: 100%;
    position: relative;
    /* background-image: linear-gradient(37deg,#1f2537,#286fff 500%); 
    color: #b1b8c0;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    background-color: var(--even-darker-main);
    color: var(--text-dark);
}

.split-flap {
    display: flex;
    font-family: monospace;
    font-size: 1.25rem;
}
.flap {
    position: relative;
    width: 1.5rem;
    height: 2.25rem;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #444;
    overflow: hidden;
    perspective: 200px;
}
.flap .char {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3rem;
    transition: transform 0.1s ease-in-out;
}
.flap.flipping .char {
    transform: rotateX(-90deg);
    transition: transform 0.1s ease-in-out;
}

.sendHouatForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pinkBody {
    background-image: 
        url('/assets/images/frite_white_split.png'),
        linear-gradient(37deg, #ffe6f2, #fab4bc 500%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%; /* pour que l’image prenne toute la hauteur */
}

a {
    /*text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur du texte environnant */
}

table {
    width : 50%;
}

td, th {
    padding: 8px;
    height: 3em; /* Définit la hauteur des cellules à 2 fois la taille de la police */
    vertical-align: bottom; /* Texte aligné en bas par défaut */
}

.topAlignment {
    vertical-align: top; /* Texte aligné en haut pour les cellules avec cette classe */
}

tr:nth-child(even) {
    background-color: var(--even-lines-background-color);
}

.ribbon {
    position: fixed;
    color: white;
    padding: 5px 40px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}

.top-left-hand-corner-ribbon {
    top: 40px;
    left: -40px; /* Décalage pour l'angle */
    transform: rotate(-45deg); /* Inclinaison */
}

.top-right-hand-corner-ribbon {
    top: 50px;
    right: -50px; /* Décalage pour l'angle */
    transform: rotate(45deg); /* Inclinaison */
}

.dark-ribbon {
    background: #151b23;
}

.red-ribbon {
    background: #ff5722;
}

.blue-ribbon {
    background: #474F7A;
}

.imageAsCaracter {
    width: 1em;   /* Taille proportionnelle au texte */
    height: 1em;  /* Assure une cohérence avec la hauteur du texte */
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

.prevent {
    font-size: 0.75em;
}

.clause {
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.longParagraph {
    margin: 1rem;
}

.rainbow-text {
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }  

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.indexCentered {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexFlap {
    padding-bottom: 20px;;
}

.friteHeader {
    display: flex;
    flex-direction: row;
    font-style: italic;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
}

.friteInfos {
    width: 100%;
}

.darkmode-symbols {
    position: absolute;
    font-size: 32px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.darkmode-moon {
    color: #f1c40f;
    opacity: 0;
    transform: scale(0.5);
}

.darkmode-sun {
    color: #f39c12;
    opacity: 1;
    transform: scale(1);
}

.darkmode-active .darkmode-sun {
    opacity: 0;
    transform: scale(0.5);
}

.darkmode-active .darkmode-moon {
    opacity: 1;
    transform: scale(1);
}

#darkmode-toggle {
    margin: 5px 20px 5px 20px;
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.frite-headbar {
    display: flex;
    width: 100%;
}

.vitesse-colonne {
    position: relative;
    width: 50px;
    cursor: pointer;
    height: 2rem;
    overflow: visible; /* Assurez-vous que le parent ne limite pas le comportement collant */
    border-right: var(--interval-elements-color) solid 2px;
}

.vitesse-label {
    position: -webkit-sticky; /* Pour la compatibilité avec Safari */
    position: sticky;
    top: 10px; /* La position à laquelle l'élément devient "collant" */
    left: calc(50% + 5px); /* Décalage à droite du point */
    white-space: nowrap;
    background: white;
    padding: 2px;
    border: 1px solid black;
    z-index: 15;
    transition: top 0.2s ease-out;
}

.interval-element{
    position: absolute;
    right: -1px;
}
.dynamic-point {
    background-color: var(--interval-elements-color);
    border-radius: 100px;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translate(50%, -50%);
}
.static-point{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.static-point.up {
    border-bottom: 20px solid var(--interval-elements-color);
    bottom: 0%;
    transform: translate(50%, 0%);
}

.static-point.down {
    border-top: 20px solid var(--interval-elements-color);
    top: 0%;
    transform: translate(50%, 0%);
}

.ligne-vitesse {
    position: absolute;
    width: 4px;
    background-color: black;
    right: 0%;
    /* transform: translateX(-50%); */
    z-index: 10;
}

[type="submit"] {
    border-radius: 9999px;
    border: 0px;
    background-color: var(--tertiary-color);
    padding: 20px;
    margin-top: 20px; 
}

[type="submit"]:hover {
    border-radius: 9999px;
    border: 0px;
    background-color: var(--lighter-tertiary);
    padding: 20px;
    margin-top: 20px; 
}

[type="submit"]:disabled {
    border-radius: 9999px;
    border: 0px;
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px; 
}

[type="submit"]:disabled:hover {
    border-radius: 9999px;
    border: 0px;
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px; 
}